html {
  background-color: #fa923f;
  padding: 10px;
  height: 3000px;
}

body {
  background-color: yellow;
  padding: 10px;
  margin: 0;
  position: static;
  top: 10%;
}

header {
  background-color: #f073e1;
}

nav {
  background-color: #f073e1;
  margin: 10px;
}

footer {
  background-color: #f073e1;
}
